@media screen and (max-width: 767.98px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .grid {
    h4 {
      font-size: 1.3rem;
    }
    p {
      font-size: 1.1rem;
    }
  }
}
